body {
    background-color:  #141120;
}

nav {
    background-color: #1b1630;
    text-align: left;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 30px;
}
  
nav ul {
    margin: 0px;
    list-style-type: none;
    line-height: 2em;
}

nav ul li {
    padding: 5px 10px 5px 10px;
}

a:link, a:visited {
    color: #9ebfe4;
    border-bottom: none;
    text-decoration:  none;
    font-weight: bold;
}

a:hover {
    color: white;
}

.main {
    background-color: white;
    margin: 100px 350px 20px 50px;
    margin-top: 30px;
    padding: 30px 100px 30px 100px;
}

img {
    width: 60%;
}

h1 {
    color: white;
    margin-right: 300px;
    padding-left: 150px;
    z-index: 1;
}

h2 {
    color: #1556a0;
}

article {
    margin-bottom: 70px;
}

p {
    line-height: 30px;
}

#table1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "img1"
        "img2";
    grid-row-gap: 20px;
}

#img1 {
    grid-area: img1;
}

#img2 {
    grid-area: img2;
}

#table2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "img3"
        "img4";
    grid-row-gap: 20px;
}

#img3 {
    grid-area: img3;
}

#img4 {
    grid-area: img4;
}